$primary-blue: #4056a1;
$primary-dark: #545149;
$primary-light: #f4f1ec;
$tweet-icon-hover: #005500;
$toggle-btn: #ff0000;
$toggle-btn-hover: #dd0000;
$error-msg: lightpink;
$article-box-shadow: rgba(84, 81, 73, 0.5);

$primary-font: "Source Sans Pro", sans-serif;
$secondary-font: "Bungee", cursive;
