$primary-font: "Source Sans Pro", sans-serif;
$secondary-font: "Bungee", cursive;

$primary-blue: #4056a1;
$primary-dark: #545149;
$primary-light: #e0e0df;
$secondary-dark: #333;
$secondary-light: #fff;
$tweet-icon-hover: #005500;
$toggle-btn: #ff0000;
$toggle-btn-hover: #dd0000;
$error-msg: lightpink;
$article-box-shadow: rgba(84, 81, 73, 0.5);

@mixin center-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
