#main-header {
  height: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4988f5;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  position: relative;

  div:nth-child(1) {
    position: absolute;
    margin-top: 1rem;
  }

  div:nth-child(2) {
    position: relative;
    margin-top: auto;
  }

  div:nth-child(2) h2 {
    margin: 1rem;
  }
}
