@import "./base.scss";

#main-header {
  @include center-children;
  height: 25rem;
  width: 100%;
  position: relative;
  background-color: #4988f5;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");

  div:nth-child(1) {
    position: absolute;
  }

  div:nth-child(2) {
    position: relative;
    margin-top: auto;
  }

  div:nth-child(2) h2 {
    margin: 1rem;
  }
}
