@import "./base.scss";

#new-tweet {
  margin: 0 2rem;
  display: none;

  h2 {
    margin-bottom: 15px;
  }

  #error-message {
    background: $error-msg;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;

    #tweet-text {
      background-color: inherit;
      border: none;
      outline: none;
      border-bottom: 3px solid $primary-dark;
      padding: 0.5rem;
    }

    div {
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0.5rem 0 0;
      font-family: "Bungee", cursive;
      font-size: smaller;

      button {
        background-color: $primary-blue;
        font-size: smaller;
        color: $background-light;
        border: none;
        padding: 4px 8px;
        border-radius: 3px;
      }

      button:hover {
        cursor: pointer;
        background-color: $primary-blue;
      }
    }
  }
}
