@import "./base.scss";

.scroll-up {
  position: fixed;
  display: none;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 50%;
  background: $toggle-btn;
  color: $secondary-light;
  border: 3px solid $primary-dark;
}

.scroll-up:hover {
  cursor: pointer;
  background: $toggle-btn-hover;
}
