@import "./base.scss";

#scroll-up {
  position: fixed;
  display: none;
  bottom: 25px;
  right: 25px;
  padding: 15px;
  border-radius: 50%;
  background: $toggle-btn;
  color: $primary-light;
}

#scroll-up:hover {
  cursor: pointer;
  background: $toggle-btn-hover;
}
