@import "./base.scss";

#tweets-container {
  margin-top: 1rem;

  article {
    border: 3px solid $primary-dark;
    padding: 0 15px 10px;
    margin: 1rem 2vw 0 0;

    .user-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;

      div {
        display: flex;
        align-items: center;
      }

      img {
        margin-right: 10px;
      }

      .handle {
        font-weight: 600;
        font-size: smaller;
        color: $primary-dark;
      }
    }

    .content {
      border-bottom: 3px solid $primary-dark;

      p {
        font-weight: 600;
        font-size: smaller;
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 1rem;
        font-weight: 600;
      }

      .icons {
        i {
          color: $primary-blue;
          margin-right: 5px;
        }

        i:last-child {
          margin-right: 15px;
        }

        i:hover {
          cursor: pointer;
          color: $tweet-icon-hover;
        }
      }
    }
  }

  article:hover {
    box-shadow: 5px 5px $article-box-shadow;
  }
}
