@import "./base.scss";

#tweets-container {
  margin: 1rem 0 0 0;

  article {
    border: 0.3rem solid $primary-dark;
    padding: 0 1rem;
    margin: 0 0 1rem 0;
    background-color: $secondary-light;

    .user-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.25rem;

      div {
        display: flex;
        align-items: center;
      }

      img {
        margin-right: 1rem;
        width: 3rem;
      }

      .handle {
        font-weight: 600;
        font-size: smaller;
        color: $primary-dark;
        opacity: 0.5;
      }
    }

    .content {
      border-bottom: 0.3rem solid $primary-dark;

      p {
        font-weight: 600;
        font-size: smaller;
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 1rem;
        font-weight: 600;
      }

      .icons {
        i {
          color: $primary-blue;
          margin-right: 0.3rem;
        }

        i:last-child {
          margin-right: 1rem;
        }

        i:hover {
          cursor: pointer;
          color: $tweet-icon-hover;
        }
      }
    }
  }

  article:hover {
    box-shadow: 0.3rem 0.3rem $article-box-shadow;
  }
}
