main#main-container > section#all-tweets > article {
  margin: 2rem;
  border: 3px solid #545149;
  padding: 0 15px 10px;
}

main#main-container > section#all-tweets > article > header > div.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

main#main-container
  > section#all-tweets
  > article
  > header
  > div.user-info
  > div {
  display: flex;
  align-items: center;
}

main#main-container
  > section#all-tweets
  > article
  > header
  > div.user-info
  > div
  > img {
  margin-right: 10px;
}

main#main-container
  > section#all-tweets
  > article
  > header
  > div.user-info
  > p.handle {
  font-weight: 600;
  font-size: smaller;
  color: rgba(84, 81, 73, 0.5);
}

main#main-container > section#all-tweets > article > header > div.content {
  border-bottom: 3px solid #545149;
}

main#main-container > section#all-tweets > article > header > div.content p {
  font-weight: 600;
  font-size: smaller;
}

main#main-container > section#all-tweets > article > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main#main-container > section#all-tweets > article > footer > p {
  font-size: 1rem;
  font-weight: 600;
}

main#main-container > section#all-tweets > article > footer > div.icons > i {
  color: #4056a1;
  margin-right: 5px;
}

main#main-container
  > section#all-tweets
  > article
  > footer
  > div.icons
  > i:last-child {
  margin-right: 15px;
}

/* hover */
main#main-container > section#all-tweets > article:hover {
  box-shadow: 5px 5px rgba(84, 81, 73, 0.5);
}

main#main-container
  > section#all-tweets
  > article
  > footer
  > div.icons
  > i:hover {
  cursor: pointer;
  color: green;
}
