nav {
  height: 5rem;
  width: 100vw;
  background-color: transparent;
  color: #fff;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  min-width: 320px;
}
nav .logo {
  font-family: "Bungee", cursive;
  font-size: 1.4rem;
  align-self: center;
  text-shadow: 2px 2px #111;
}
nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav div p {
  margin: 0.8rem 0 0;
  text-shadow: 2px 2px #111;
}
nav div p b {
  font-weight: 600;
}
nav div div {
  position: relative;
  margin-top: 0.8rem;
}
nav button {
  background: transparent;
  border: none;
  position: absolute;
}
nav button i.fa-angle-double-down {
  color: #ff0000;
  display: block;
}
nav button i.fa-angle-double-up {
  color: #ff0000;
  display: none;
}
nav button i.fa-angle-double-up:hover {
  color: #dd0000;
}
nav button:hover {
  cursor: pointer;
  animation: verticalSlide 1.2s linear infinite;
}

@media only screen and (min-width: 768px) {
  nav {
    padding: 0 2rem;
  }
  nav .logo {
    font-size: 1.6rem;
  }
}
@keyframes verticalSlide {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 0.5rem;
  }
}
