main#main-container > section.new-tweet {
  margin: 0 2rem;
}

main#main-container > section.new-tweet > form {
  display: flex;
  flex-direction: column;
}

main#main-container > section.new-tweet > form > textarea#tweet-text {
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 3px solid #545149;
  padding: 0.5rem;
}

main#main-container > section.new-tweet > form > div {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.5rem 0 0;
  font-family: "Bungee", cursive;
  font-size: smaller;
}

main#main-container > section.new-tweet > form > div > button {
  background-color: #4056a1;
  font-size: smaller;
  color: #ffffff;
  border: none;
  padding: 4px 8px;
  border-radius: 3px;
}

main#main-container > section.new-tweet > form > div > button:hover {
  cursor: pointer;
  background-color: #304691;
}
