#new-tweet {
  margin: 0 2rem;
  display: none;
}
#new-tweet h2 {
  margin-bottom: 15px;
}
#new-tweet #error-message {
  background: lightpink;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  display: none;
}
#new-tweet form {
  display: flex;
  flex-direction: column;
}
#new-tweet form #tweet-text {
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 3px solid #545149;
  padding: 0.5rem;
}
#new-tweet form div {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.5rem 0 0;
  font-family: "Bungee", cursive;
  font-size: smaller;
}
#new-tweet form div button {
  background-color: #4056a1;
  font-size: smaller;
  color: #f4f1ec;
  border: none;
  padding: 4px 8px;
  border-radius: 3px;
}
#new-tweet form div button:hover {
  cursor: pointer;
  background-color: #4056a1;
}
