button#scroll-up {
  position: fixed;
  display: none;
  bottom: 25px;
  right: 25px;
  padding: 15px;
  border-radius: 50%;
  background: red;
  color: #f4f1ec;
}

button#scroll-up:hover {
  cursor: pointer;
  background: #dd0000;
}
