.scroll-up {
  position: fixed;
  display: none;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 50%;
  background: #ff0000;
  color: #e0e0df;
}

.scroll-up:hover {
  cursor: pointer;
  background: #dd0000;
}
